<div class="cart-count">{{ cart.item_count }}</div>
<style>
  .cart-count{
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1 !important;
  }
</style>