<div class="loading"></div>

<style>
  .loading{
    width: 20px;
    height: 20px;
    border: 3px solid rgb(43, 43, 43);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: none;
  }

  @keyframes spin {
    to{
      transform: rotate(360deg);
    }
  }
</style>